body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
    background: linear-gradient(135deg, #2e2e2e, #7a7a7a);
    color: #f5f5f5;
    text-align: center;
}

nav {
    background: rgba(77, 73, 75, 0.35);
    padding: 15px;
}

nav a {
    color: #f5f5f5;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

.container {
    padding: 60px 20px;
}

.card {
    background: rgba(247, 101, 181, 0.911);
    border-radius: 25px;
    padding: 45px;
    max-width: 850px;
    margin: auto;
    box-shadow: 0 25px 50px rgba(253, 59, 149, 0.5);
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 22px;
    line-height: 1.9;
}

.counter {
    font-size: 24px;
    line-height: 2.2;
}